.content {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
}

button {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

canvas {
    display: flex;
    max-width: 600px;
    max-height: 600px;
}

.cell {
    border: 0.02px solid black;
    min-width: 15px;
    min-height: 15px;
    margin: .5px;
    display: inline-block;
}

.gridRow {
    display: flex;
    margin: 0;
    padding: 0;
}